* {
  padding: 0;
  margin: 0;
  font-family: 'League Spartan', sans-serif;
}
body{
  background-color: hsl(222, 26%, 31%);
}
.container {
  margin:5% auto;
  width: 480px;
  border-radius: 10px;
}
header {
  display: flex;
  align-items: center;
  color: hsl(0, 0%, 100%);
  padding-bottom: 20px;
}
.theme {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 307px;
  font-size: 14px;
}
.toggle-container {
  margin-left: 20px;
}
.grid-output {
  background-color: hsl(224, 36%, 15%);
  font-size: 50px;
  text-align: end;
  color: white;
  padding: 30px;
  width: 420px;
  margin-bottom: 20px;
  border-radius: 8px;
  outline: none;
  border: none;
}
.grid-container {
  background-color: hsl(223, 31%, 20%);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 80px;
  padding: 15px;
  border-radius: 8px;
}
.grid-container button {
  font-weight: bold;
}
.grid-item {
  margin: 10px;
  border-radius: 8px;
  font-size: 32px;
  border: none;
  cursor: pointer;
}
.reset {
  grid-column: 1/3;
}

.equals {
  grid-column: 3/5;
  background-color: hsl(6, 63%, 50%);
  color: hsl(0, 0%, 100%);
  box-shadow: 0 3px 0px 0 hsl(6, 70%, 34%);
}

.light {
  background-color: hsl(225, 21%, 49%);
  color: hsl(0, 0%, 100%);
  box-shadow: 0 3px 0px 0 hsl(224, 28%, 35%);
}

.dark {
  background-color: hsl(30, 25%, 89%);
  color: hsl(221, 14%, 31%);
  box-shadow: 0 3px 0px 0 hsl(28, 16%, 65%);
}
.tri-state-toggle,
.toggle-state-numbers {
  justify-content: flex-end;
  color: white;
  display: flex;
}

/* Theme 1 */
.theme1::placeholder {
  color: hsl(0, 0%, 100%);
}
.grid-output.theme1 {
  background-color: hsl(224, 36%, 15%);
}

.grid-container.theme1 {
  background-color: hsl(223, 31%, 20%);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 80px;
  padding: 15px;
  border-radius: 8px;
}
.grid-item.theme1 {
  background-color: hsl(30, 25%, 89%);
  color: hsl(221, 14%, 31%);
  box-shadow: 0 4px 0 0 hsl(28, 16%, 65%);
}
.equals.theme1 {
  background-color: hsl(6, 63%, 50%);
  color: hsl(0, 0%, 100%);
  box-shadow: 0 4px 0 0 hsl(6, 70%, 34%);
}

.light.theme1 {
  background-color: hsl(225, 21%, 49%);
  box-shadow: 0 4px 0 0 hsl(224, 28%, 35%);
  color: hsl(30, 25%, 89%);
}

.dark-text.theme1 {
  color: hsl(221, 14%, 31%);
}

.white-text.theme1 {
  color: hsl(0, 0%, 100%);
}

/* Theme 2 */
.theme2 ::placeholder {
  color: hsl(60, 10%, 19%);
}
.theme2 header {
  color: hsl(60, 10%, 19%);
}
.grid-container.theme2 {
  background-color: hsl(0, 5%, 81%);
}

.grid-output.theme2 {
  background-color: hsl(0, 0%, 93%);
  color: hsl(60, 10%, 19%);
}

.grid-item.theme2 {
  background-color: hsl(45, 7%, 89%);
  color: hsl(60, 10%, 19%);
  box-shadow: 0 4px 0 0 hsl(35, 11%, 61%);
}

.equals.theme2 {
  background-color: hsl(25, 98%, 40%);
  color: hsl(0, 0%, 100%);
  box-shadow: 0 4px 0 0 hsl(25, 99%, 27%);
}

.light.theme2 {
  background-color: hsl(185, 42%, 37%);
  box-shadow: 0 4px 0 0 hsl(185, 58%, 25%);
  color: white;
}

.dark-text.theme2 {
  color: hsl(60, 10%, 19%);
}

.white-text.theme2 {
  color: hsl(0, 0%, 100%);
}

/* Theme 3 */
.theme3 ::placeholder {
  color: hsl(52, 100%, 62%);
}
.theme3 header {
  background-color: hsl(268, 75%, 9%);
  color: hsl(52, 100%, 62%);
}
.grid-container.theme3 {
  background-color: hsl(268, 71%, 12%);
}

.grid-output.theme3 {
  background-color: hsl(268, 71%, 12%);
  color: hsl(52, 100%, 62%);
}

.grid-item.theme3 {
  background-color: hsl(268, 47%, 21%);
  box-shadow: 0 4px 0 0 hsl(290, 70%, 36%);
  color: hsl(52, 100%, 62%);
}

.equals.theme3 {
  background-color:  hsl(176, 100%, 44%);
  color: hsl(198, 20%, 13%);
  box-shadow: 0 4px 0 0 hsl(177, 92%, 70%);
}

.light.theme3 {
  background-color: hsl(281, 89%, 26%);
  box-shadow: 0 4px 0 0 hsl(285, 91%, 52%);
  color: white;
}

.dark-text.theme3 {
  color: hsl(198, 20%, 13%);
}

.yellow-text.theme3 {
  color: hsl(52, 100%, 62%);
}
/* toggle switch */
.tri-state-toggle {
  background-color: hsl(223, 31%, 20%);
  padding: 3px 6px;
  border-radius: 20px;
}

.tri-state-toggle.theme1 {
  background-color: hsl(223, 31%, 20%);
}

.tri-state-toggle.theme2 {
  background-color: hsl(0, 5%, 81%);
}

.tri-state-toggle.theme3 {
  background-color: hsl(268, 71%, 12%);
}

.button {
  margin: 1px;
}
.grid-item.theme1:hover, .grid-item.theme2:hover, .grid-item.theme3:hover {
  opacity: 70%;
}
/* General Typography */
.numbers {
  font-size: 32px;
}
/* Fonts */
body {
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
}

input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=radio]::before {
  content: '';
  display: inline-block;
  margin-top: 2.5px;
  width: 10px;
  height: 10px;
  border: 2px solid #000; 
  border-radius: 50%;
  opacity: 0;
}

input[type=radio]:checked::before {
  background-color: hsl(6, 63%, 50%); 
  opacity: 1;
}

input[type=radio]#theme-theme1::before {
  border-color: hsl(6, 63%, 50%); /
}

input[type=radio]#theme-theme1:checked::before {
  background-color: hsl(6, 63%, 50%);
}

input[type=radio]#theme-theme2::before {
  border-color: hsl(25, 98%, 40%);
}

input[type=radio]#theme-theme2:checked::before {
  background-color: hsl(25, 98%, 40%); 
}


input[type=radio]#theme-theme3::before {
  border-color: hsl(176, 100%, 44%); 
}

input[type=radio]#theme-theme3:checked::before {
  background-color: hsl(176, 100%, 44%); 
}
