* {
  padding: 0;
  margin: 0;
  font-family: 'League Spartan', sans-serif;
}
body {
  background-color: hsl(222, 26%, 31%);
  
}
.container {
  margin: 4% auto;
  width: 500px;
  border-radius: 10px;
} 
.container h2 {
  color: hsl(0, 0%, 100%);
  padding-bottom: 28px;
}
.grid-output {
  background-color:hsl(224, 36%, 15%);
  font-size: 50px;
  text-align: end;
  color:white;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 8px;
}
.grid-container {
  background-color: hsl(223, 31%, 20%);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 80px;
  padding: 15px;
  border-radius: 8px;
}
.grid-item {
  padding: 10px 30px 10px 30px;
  margin: 10px;
  border-radius: 8px;
  font-size: 32px;
  border: none;
  cursor: pointer;
}
.reset {
  grid-column: 1/3;
}
.equals {
  grid-column: 3/5;
  background-color:  hsl(6, 63%, 50%);
  color:  hsl(0, 0%, 100%);
  box-shadow: 0 3px 0px 0  hsl(6, 70%, 34%);
}
.light {
  background-color: hsl(225, 21%, 49%);
  color: hsl(0, 0%, 100%);
  box-shadow: 0 3px 0px 0 hsl(224, 28%, 35%); 
}
.dark {
  background-color:hsl(30, 25%, 89%);
  color: hsl(221, 14%, 31%);
  box-shadow: 0 3px 0px 0 hsl(28, 16%, 65%);
}
.toggle-container {
  padding: 3px;
}
.tri-state-toggle, .toggle-state-numbers {
  justify-content: flex-end;
  color: white;
  display: flex;
}
